@import './vars';
@import './normalize';
@import './global';
@import './mixins';
@import './fonts';
@import '../../node_modules/slick-carousel/slick/slick.scss';

.header {
  background-image: url(../img/banner.jpg);
  @include background(no-repeat, cover, center);
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 29px 0 0;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 33, 33, 0.8);
    left: 0;
    top: 0;
  }
  &-top {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    &__row {
      justify-content: flex-end;
    }
    &__navbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &__container {
    margin-top: 60px;
  }
  &-main {
    .slick-slider {
      width: 100%;
    }
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 760px;
    &__row {
      position: relative;
    }
    &__items {
      h2 {
        @include text(77px, 800, white, uppercase);
        font-size: calc(24px + 53 * (100vw / 1920));
        margin-bottom: 39px;
        max-width: 1100px;
        line-height: 120%;
      }
    }
    &__btn {
      padding: 13px 30px;
      background: none;
      @include text(16px, 500, white, none);
      border: 2px solid white;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__col-1 {
    @include col(1);
  }
  &__col-2 {
    @include col(2);
  }
  &__col-4 {
    @include col(4);
  }
  &__logo {
    display: inline-block;
    max-width: 195px;
    img {
      width: 100%;
    }
  }
  &__navbar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    li {
      border-bottom: 2px solid transparent;
      padding-bottom: 6px;
      transition: all 0.2s ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-bottom: 2px solid white;
      }
    }
    a {
      @include text(16px, 700, white, uppercase);
      display: inline-block;
    }
  }
  &__contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 33px;
  }
  &__phone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 30px;
    img {
      margin-right: 18px;
    }
    &-link {
      display: inline-block;
      @include text(16px, 500, white, none);
      border-bottom: 2px solid transparent;
      padding-bottom: 3px;
      transition: all 0.2s ease;
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
// About
.about {
  padding: 100px 0 120px;
  h3 {
    margin-bottom: 63px;
  }
  &__row {
    align-items: center;
  }
  &__col-3 {
    @include col(3);
  }
  &__col-2 {
    @include col(2);
  }
  &__content {
    p {
      @include text(18px, 500, black, none);
      line-height: 36px;
      max-width: 723px;
    }
  }
  &__image {
    position: relative;
    img {
      width: 100%;
      position: relative;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      position: absolute;
      bottom: -20px;
      right: -27px;
    }
  }
}
// Slick
.slick {
  &-header {
    &__arrow {
      position: absolute;
      bottom: -90px;
      right: 0;
      width: 45px;
      height: 45px;
      background-image: url(../img/left-arrow.svg);
      @include background(no-repeat, 20px 20px, center);
      border: 2px solid white;
      background-color: transparent;
    }
    &__prev {
      right: 83px;
    }
    &__next {
      background-image: url(../img/right-arrowsvg.svg);
      &:before {
        content: '';
        height: 15px;
        width: 2px;
        background-color: white;
        position: absolute;
        left: -50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-service {
    &__arrow {
      right: 30px;
      background-color: white;
    }
    &__prev {
      right: 113px;
      color: black;
      background-image: url(../img/left-arrow-black.svg);
    }
    &__next {
      background-image: url(../img/right-arrow-black.svg);
      &:before {
        background-color: black;
      }
    }
  }
  &-slider {
    position: static;
  }
  &-advantages {
    &__arrow {
      position: absolute;
      width: 30px;
      height: 45px;
      background-image: url(../img/left-arrow-black.svg);
      @include background(no-repeat, cover, center);
      background-color: transparent;
    }
    &__prev {
      left: 20px;
      top: 50%;
      z-index: 999;
    }
    &__next {
      right: 20px;
      top: 50%;
      background-image: url(../img/right-arrow-black.svg);
    }
  }
  &-activities {
    &__prev {
      left: 20px;
    }
    &__next {
      right: 20px;
    }
  }
  &-adaptive {
    &__arrow {
      background-image: url(../img/left-arrow-black.svg);
      @include background(no-repeat, cover, center);
      position: absolute;
      background-color: transparent;
      width: 30px;
      height: 43px;
      top: 40%;
    }
    &__prev {
      left: 10px;
    }
    &__next {
      right: 10px;
      background-image: url(../img/right-arrow-black.svg);
    }
  }
}
// Section
.section {
  &__title {
    @include text(36px, 500, black, uppercase);
  }
}
// Advantages
.advantages {
  padding-bottom: 161px;
  &__row {
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 116px;
  }
  &__box {
    max-width: 370px;
    padding: 0 15px;
    &-top {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      img {
        margin-right: 19px;
      }
      span {
        display: inline-block;
        @include text(22px, 700, black, none);
        line-height: 34px;
        border-bottom: 2px solid $blue;
      }
    }
    &-text {
      p {
        @include text(18px, 500, black, none);
        line-height: 28px;
        max-width: 313px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-adaptive {
    margin-bottom: 100px;
    position: relative;
    display: none;
    &__title {
      margin-bottom: 47px;
    }
    &__img {
      img {
        width: 50%;
        margin: 0 auto;
      }
    }
    &__info {
      margin: 0 auto;
      text-align: center;
      max-width: 280px;
      span {
        @include text(22px, 700, black, none);
        line-height: 34px;
        margin: 40px 0 24px;
        border-bottom: 2px solid #0267ff;
        display: inline-block;
      }
      p {
        @include text(16px, 500, black, none);
      }
    }
  }
}
// Person
.person {
  padding-bottom: 190px;
  &__col-1 {
    @include col(1);
  }
  &__col-4 {
    @include col(4);
  }
  &__content {
    h4 {
      @include text(22px, 700, black, capitalize);
      line-height: 34px;
    }
    h4,
    span {
      margin-bottom: 4px;
    }
    span {
      display: inline-block;
      @include text(18px, 500, black, capitalize);
      line-height: 30px;
    }
    p {
      @include text(18px, 500, black, none);
      line-height: 36px;
    }
  }
}
// Services
.services {
  padding: 90px 0 282px;
  background-image: url(../img/services.jpg);
  @include background(no-repeat, cover, center);
  width: 100%;
  min-height: 100vh;
  position: relative;
  .slick-list {
    margin-right: -220px;
  }
  &__slick {
    position: relative;
    .slick-slide {
      display: flex;
      justify-content: center;
      margin-right: 35px;
    }
  }
  &__content {
    max-width: 324px;
    margin-right: 35px;
    img {
      width: 100%;
    }
  }
  &__text {
    min-height: 138px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    background-color: white;
    margin-top: -3px;
    p {
      @include text(22px, 700, black, none);
    }
  }
  &__title {
    max-width: 400px;
    margin-bottom: 64px;
  }
}
// Activities
.activities {
  padding: 90px 0 106px;
  &__row {
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 111px;
  }
  &__box {
    max-width: 328px;
    text-align: center;
    margin-bottom: 107px;
    &-spc {
      width: 328px;
    }
  }
  &__image {
    img {
      margin-bottom: 36px;
    }
  }
  &__text {
    p {
      @include text(22px, 700, black, none);
      line-height: 34px;
    }
  }
  &-adaptive {
    padding: 40px 0 56px;
    position: relative;
    display: none;
    &__title {
      margin-bottom: 45px;
    }
    &__box {
      text-align: center;
      img {
        width: 50%;
        margin: 0 auto 14px;
      }
      p {
        @include text(18px, 700, black, none);
        line-height: 29px;
        max-width: 330px;
        margin: 0 auto;
      }
    }
  }
}
// Footer
.footer {
  padding: 90px 0 23px;
  background-color: #f7f7f7;
  input {
    outline: none;
  }
  &__title {
    margin-bottom: 89px;
  }
  &__row {
    justify-content: space-between;
  }
  &__col-3 {
    @include col(3);
  }
  &__col-2 {
    @include col(2);
  }
  &__col-5 {
    @include col(5);
  }
  &__contacts {
    h4 {
      @include text(20px, 800, black, none);
      margin-bottom: 29px;
    }
    &-items {
      margin-bottom: 42px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      a,
      p {
        @include text(22px, 500, black, none);
        margin-bottom: 6px;
      }
      span {
        @include text(18px, 700, black, none);
        display: inline-block;
      }
    }
  }
  &__icons {
    margin-bottom: 6px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    p {
      @include text(20px, 800, black, none);
      margin-bottom: 29px;
    }
    &-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        max-width: 350px;
      }
    }
  }
  &__input-box {
    margin-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    span {
      @include text(18px, 700, black, none);
      margin-bottom: 22px;
    }
    input {
      max-width: 551px;
      border: none;
      border-bottom: 1px solid black;
      padding-bottom: 6px;
      background-color: transparent;
      &::placeholder {
        @include text(16px, 500, #a6a4a4, none);
        font-family: $main-font;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__btn {
    padding: 11px 58px;
    border: 2px solid #0267ff;
    @include text(18px, 700, #0267ff, capitalize);
    text-align: center;
    margin-top: 10px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #0267ff;
      border: 2px solid transparent;
      color: white;
    }
  }
  &__end {
    padding-top: 26px;
    margin-top: 63px;
    border-top: 1px solid black;
    p {
      @include text(12px, 700, black, none);
      text-align: center;
    }
  }
}
// Burger
.burger {
  cursor: pointer;
  width: 25px;
  height: 14px;
  background-image: url(../img/burger.png);
  @include background(no-repeat, cover, center);
  display: none;
  &__items {
    opacity: 0;
    display: flex;
    transition: all 0.3s;
    transform: translateY(-100%);
  }
  &__items.active {
    opacity: 1;
    transform: translateY(-29px);
  }
}

@import './media';
